<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mercado liebre</title>
  <link rel="stylesheet" href="/css/style2.css">
  <!-- Fuentes Roboto -->
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="nav-top">
      <!-- Logo -->
      <img class="logo" src="https://linsock.com.ar/cursos/dh/mliebre/img/logo-mercado-liebre.svg" alt="logo" />
      <!-- Busqueda -->
      <div class="busqueda">
        <input type="text" placeholder="Buscar producto">
        <button>Buscar</button>
      </div>
      <!-- Texto -->
      <div class="nav-text">
        Comprá en cuotas y sin tarjeta de crédito
      </div>
    </div>

    <div class="nav-bottom">
      <!-- Espacio en blanco -->
      <div class="espacio"></div>
      <!--  Primer menu -->
      <div class="menu">
        <ol>
          <li><a href="">Ofertas</a></li>
          <li><a href="">Tiendas Oficiales</a></li>
          <li><a href="">Vender</a></li>
          <li><a href="">Ayuda</a></li>
        </ol>
      </div>
      <!-- Segundo menu -->
      <div class="menu">
        <ol>
          <li><a href="">Creá tu cuenta</a></li>
          <li><a href="">Ingresá</a></li>
          <li><a href="">Mis Compras</a></li>
        </ol>
      </div>
    </div>
  </header>

  <main>
    <div class="banner">
      <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-home-banner.jpg" alt="banner">
    </div>
    <h3>En base a la ultima visita</h3>
    <section class="ultimo">
      <div class="articulo">

      </div>


    </section>
    <h3>Ofertas</h3>
    <section class="ofertas">

    </section>

  </main>

  <footer>

  </footer>

  <script src="https://kit.fontawesome.com/f8ff58bf54.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" />
</body>

</html>