<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MercadoLiebre</title>
  <link rel="stylesheet" href="/css/style.css">

  
</head>
<body>
  <header>
    <img class="logo" src="img/logo-mercado-liebre.svg" alt="logo">
    <input type="text" placeholder="Buscar productos, marcas">
    <button><i class="fa-solid fa-thumbs-up fa-5x"></i></button>
    <h2>Compra en cuotas y sin tarjeta de crédito</h2>
  </header>

<ul>
  <li>Ofertas</li>
  <li>Tiendas oficiales</li>
  <li>Vender</li>
  <li>Ayuda</li>
</ul>

<footer>
<ul>
  <li>Créa tu cienta</li>
  <li>ingresá</li>
  <li>Mis compras</li>
</ul>
</footer>
<script src="https://kit.fontawesome.com/f8ff58bf54.js" crossorigin="anonymous"></script>
</body>
</html>