<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>MercadoLiebre</title>
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
</head>

<body>
  <header>
    <div class="nav-top">
      <img class="logo" src="https://linsock.com.ar/cursos/dh/mliebre/img/logo-mercado-liebre.svg" alt="logo" />
      <div class="serch">
        <input type="text" placeholder="Buscar productos, marcas" />
        <button><i class="fa-solid fa-magnifying-glass"></i></button>
      </div>
      <div class="text-header">
        <i class="fa-solid fa-hand-holding-dollar"></i>Compra en cuotas y sin
        tarjeta de crédito
      </div>
    </div>
    <div class="nav-bottom">
      <div class="nav-espacio"></div>

      <div class="nav-menu">
        <ol class="menu">
          <li>Ofertas</li>
          <li>Tiendas oficiales</li>
          <li>Vender</li>
          <li>Ayuda</li>
        </ol>
      </div>
      <div class="nav-menu">
        <ol class="menu">
          <li>Créa tu cienta <i class="fa-regular fa-address-card"></i></li>
          <li>ingresá <i class="fa-solid fa-right-to-bracket"></i></li>
          <li>
            Mis compras <i class="fa-sharp fa-solid fa-basket-shopping"></i>
          </li>
        </ol>
      </div>
    </div>
  </header>

  <main>
    <div class="banner">
      <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-home-banner.jpg" alt="">
    </div>
    <h3>En base a la ultima visita</h3>
    <section class="visita">
      <div class="item">
        <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-cafetera-moulinex.jpg" alt="" />
        <hr>
        <div class="precio">$39.000</div>
        <div class="descuento">
          20% off
        </div>
        <div class="dec">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>

      <div class="item">
        <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-macbook-pro-2019.jpg" alt="" />
        <hr>
        <div class="precio">$39.000</div>
        <div class="descuento">20% off</div>
        <div class="dec">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="item">
        <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-samsung-galaxy-s10.jpg" alt="" />
        <hr>
        <div class="precio">$39.000</div>
        <div class="descuento">20% off</div>
        <div class="dec">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="item">
        <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-tv-samsung-smart.jpg" alt="" />
        <hr>
        <div class="precio">$39.000</div>
        <div class="descuento">20% off</div>
        <div class="dec">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </section>
    <h3>Ofertas</h3>
    <section class="ofertas">
      <div class="item">
        <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-cafetera-moulinex.jpg" alt="" />
        <hr>
        <div class="precio">
          $39.000
        </div>
        <div class="descuento">
          20% off
        </div>
        <div class="dec">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. </p>
        </div>
      </div>
      <div class="item">
        <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-macbook-pro-2019.jpg" alt="" />
        <hr>
        <div class="precio">$39.000</div>
        <div class="descuento">20% off</div>
        <div class="dec">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="item">
        <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-samsung-galaxy-s10.jpg" alt="" />
        <hr>
        <div class="precio">$39.000</div>
        <div class="descuento">20% off</div>
        <div class="dec">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
      <div class="item">
        <img src="https://linsock.com.ar/cursos/dh/mliebre/img/img-tv-samsung-smart.jpg" alt="" />
        <hr>
        <div class="precio">$39.000</div>
        <div class="descuento">20% off</div>
        <div class="dec">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        </div>
      </div>
    </section>
  </main>

  <footer></footer>
  <script src="https://kit.fontawesome.com/f8ff58bf54.js" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" />
</body>

</html>