* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}



header {
  background-color: #fff159;

  .text-header {
    display: inline-block;
    font-size: 1em;
  }
}

/* Header */
.nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  height: 3em;
}

.nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.serch {
  width: 50%;
}

.serch>input {
  width: 80%;
  margin-right: 0%;

}

.serch>button {
  width: 10%;
  margin-left: 0%;
}

.text-header {
  text-align: right;

}

.nav-espacio {
  width: 40%;
}

.nav-menu {
  text-align: right;
}


ol.menu {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;

}

ol.menu>li {
  padding-right: 10px;
}

/* Main */

.banner {
  text-align: center;
  width: 100%;
}

.banner>img {
  width: 100%;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: .5em;
}

.item>img {
  /* border: .2em solid grey; */
  width: 10em;
}

.item {
  text-align: center;
  width: 30em;
  /* border-radius: 10%; */
  padding: 20px;
  box-shadow:
    inset 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
}

/* Footer */